<!DOCTYPE HTML>
<html lang="en">
<body>
<div>
    <form method="post">
        <input type="text", name="nameRecipe", placeholder="Название рецепта"/>
        <input type="text", name="form", placeholder="Ингридиенты"/>
        <input type="text", name="howToCook", placeholder="Описание приготовления"/>
        <button type="submit">Занести в базу</button>
    </form>
    <form method="post", action="filter">
        <input type="text", name="filter", placeholder="Что у вас есть?">
        <button type="submit">Найти рецепты</button>
    </form>
<!--    <form action="/delete", method="post">-->
<!--        <input type="text", name="del", placeholder="Номер для удаления"/>-->
<!--        <button type="submit">Удалить</button>-->
<!--    </form>-->
</div>
{{#recipes}}
    <div>
        <b>{{id}}</b>
        <span>{{nameRecipe}}</span>
        <span>{{form}}</span>
        <span>{{howToCook}}</span>
    </div>
{{/recipes}}
</body>
</html>